/* Reset style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 650px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
}

.caption {
    text-align: center;
    margin-bottom: 1rem;
}

.user-flow {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: 1.25rem;
    border: solid 1px var(--whiteColor);
    background-color: var(--whiteColor);
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(107,121,124,0.2);
}

.flow-cap {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.flow-cap h4 {
    text-transform: uppercase;
}

.flow-cap p {
    text-align: justify;
}

.greeting {
    text-align: center;
    padding: 2rem;
}

.greeting h1 {
    font-size: 36px;
    margin-bottom: 1rem;
}

.greeting p {
    font-size: 18px;
    line-height: 1.5;
    color: var(--darkGreyColor);
}

.additional-content {
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--whiteColor);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: var(--fontColor);
    text-align: center;
}

.additional-content h2 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.additional-content p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.btn-subscribe {
    background-color: var(--ternaryColor);
    color: var(--whiteColor);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.btn-subscribe:hover {
    background-color: var(--secondaryColor);
}

.sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
    background-color: var(--ternaryColor);
    color: var(--whiteColor);
    position: fixed;
    left: 0;
}

.logo {
    letter-spacing: 2;
    margin-bottom: 0.75rem;
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menus {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menus a {
    display: flex;
    align-items: center;
    color: var(--whiteColor);
    text-decoration: none;
}

.menus ion-icon {
    margin-right: 0.5rem;
}

.menus a:hover {
    color: var(--secondaryColor);
}

.dropdown-menu {
    margin: 0 -1rem 0 2rem;
    gap: 1.25rem;
}

.profile {
    display: flex;
    align-items: center;
    position: fixed;
    margin-top: 38%;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--whiteColor);
    color: var(--fontColor);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.profile:hover {
    background-color: var(--secondaryColor);
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-name {
    font-size: 12px;
}

.main {
    width: 57%;
    min-height: 100%;
    min-width: 600px;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 2rem 2%;
    margin-left: 20%;
    background-color: var(--softPurple);
    z-index: 1;
}

.main h2 {
    padding-top: 0.5rem;
}

.main-header {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 5rem;
}

/* This will only show on mobile view, on desktop hidden */
.menu-bar {
    background-color: var(--whiteColor);
    padding: 0.5rem;
    border-radius: 20px;
    display: none;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    position: relative;
    background-color: var(--whiteColor);
}

.search input, select {
    width: 90%;
    border: none;
}

.btn-search {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 5%;
    border: none;
    background-color: var(--ternaryColor);
    color: var(--whiteColor);
    font-size: 18px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

.btn-search:hover {
    background-color: var(--secondaryColor);
    columns: var(--fontColor);
}

.filter-wrapper {
    margin: 1rem 0;
    font-size: 14px;
}

.filter {
    display: flex;
    align-items: center;
    overflow-x: auto;
    margin: 0.5rem 0;
}

.filter select {
    height: 1.5rem;
    width: fit-content;
    border: none;
    border-radius: 20px;
}

.btn-filter {
    min-width: 110px;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    background-color: var(--whiteColor);
    cursor: pointer;
}

.btn-filter:hover {
    background-color: var(--ternaryColor);
    color: var(--whiteColor);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sort {
    display: flex;
    padding-right: 1.5%;
    justify-content: flex-end;
    align-items: center;
}

.sort p {
    font-size: 14px;
    padding: 0.5rem;
}

.sort-list {
    display: flex;
    align-items: center;
}

.sort-list select {
    height: 1.5rem;
    width: fit-content;
    border-radius: 20px;
    border: none;
    margin-top: 0 0.5rem;
}

.app-header {
    margin: 2rem 0 0 1.5%;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
    overflow-y: auto;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    margin: 0 1%;
    background-color: var(--whiteColor);
    line-height: 1.5;
    gap: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    cursor: pointer;
}

.card-left {
    width: 10%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 20%;
}

.card-left img {
    width: 100%;
    height: auto;
    min-height: 60px;
}

.card-center {
    width: 50%;
    gap: 10px;
}

.card-right {
    min-width: 25%;
}

.card-salary p {
    display: flex;
    justify-content: end;
}

.card-loc {
    display: flex;
    font-size: 13px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.card-loc ion-icon{
    margin-right: 0.2rem;
}

.card-sub {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    justify-content: space-between;
}

.card-sub ion-icon{
    margin-right: 0.3rem;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.detail {
    width: 25%;
    min-width: 250px;
    height: 100%;
    padding: 2rem;
    position: fixed;
    right: -20px;
    background-color: var(--whiteColor);
    overflow: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Close button will show on mobile view */
.close-detail {
    display: none;
}

.detail-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.detail-header img {
    width: 50px;
    height: 50px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--greyColor);
    border: none;
    margin: 1rem 0;
}

.detail-desc {
    line-height: 1.5;
}

.qualification ul {
    list-style: none;
}

.about a {
    margin: 0.5rem 0 0 0;
    color: var(--ternaryColor);
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.detail-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.btn-post {
    background-color: var(--ternaryColor);
    color: var(--whiteColor);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-apply {
    background-color: var(--ternaryColor);
    color: var(--whiteColor);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-save {
    background-color: var(--secondaryColor);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-apply:hover, .btn-post:hover {
    border: 1px solid var(--ternaryColor);
    background-color: transparent;
    color: var(--ternaryColor);
}

.btn-save:hover {
    border: 1px solid var(--secondaryColor);
    background-color: transparent;
}

/* show menu when click menubar */
.sidebar.active {
    display: flex;
    width: 220px;
    z-index: 100;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 5px;
}

.modal-content p {
    padding-bottom: 0.5rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.col-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-2 {
    width: 100%;
}

.modal-items input[type="text"],
.modal-items input[type="number"],
.modal-items select {
    width: 90%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.decision {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0 1rem;
}

.decision select {
    width: 90%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 300px;
    padding: 10px;
    text-align: justify;
    resize: none;
    margin-bottom: 10px;
}

.col-2 textarea {
    width: 95%;
    height: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.modal-content button:hover {
    background-color: #0056b3;
}

.item-container {
    display: flex;
    justify-content: space-between;
}

.submit-form {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}


/* For screen with max width 880px */
@media screen and (max-width: 880px) {
    .menu-bar {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .main {
        width: 40%;
        margin-left: 0;
    }

    .detail {
        width: 60%;
    }
}

/* For smaller screen */
@media screen and (max-width: 700px) {
    .main {
        width: 100%;
    }

    .detail {
        display: none;
    }

    /* add button to show detail */
    .detail.active {
        display: block;
        width: 100%;
        z-index: 100;
    }

    /* add button to close detail */
    .detail.active .close-detail {
        display: block;
        cursor: pointer;
    }
}

@media screen and (max-width: 480px) {
    .card-loc, .card-sub, .card-tag {
        display: none;
    }
}